// {{ $.Name }} - {{ $.Description }}
//
// Package
//
// {{ $.Package }}
//
// Author
//
// - {{ $.Author }}
//
// Javascript
//
// Here is the Javascript method signature:
//  {{ $.ReceiverString }}
//
// Arguments
//
// Here is a list of the arguments for the Javascript function:
{{- range $_, $a := $.ExpectedArgTypes }}
//  * {{ $a.Name }} ({{ $a.GoType }})
{{- end }}
//
// Returns
//
// Here is a list of fields in the return object:
{{- range $_, $r := $.ExpectedReturnTypes }}
//  * obj.{{ $r.Name }} ({{ $r.GoType }})
{{ end -}}
//
// Example
// 
// Here is an example of how to use this function in gscript:
//  var obj = {{ $.ReceiverString }};
{{- range $_, $r := $.ExpectedReturnTypes }}
//  // obj.{{ $r.Name }}
{{ end -}}
//