// {{ $.ID }} contains an encrypted representation of the string "{{ $.Value }}"
var {{ $.ID }} = []rune{
	{{- range $idx, $b := $.Data -}}
		{{- if mod $idx 7 -}}
		{{ printf "\n\t" }}
		{{- end -}}
		{{ printf "0x%x, " $b -}}
	{{ end }}
}
