package main

import (
  "github.com/gen0cide/gscript/engine"
)

type {{ $.ID }} struct {
  E *engine.Engine
}

func g{{ $.ID }}(k rune, b []rune) string {
  for i, _ := range b {
    b[i] ^= k
    k ^= b[i]
  }
  q := string(0x22)
  s, _ := strconv.Unquote(q + string(b) + q)
  return s
}
