{{- range $_, $pri := $.UniqPriorities }}
{{- range $_, $vm := (index $.SortedVMs $pri) }}
{{- range $_, $embed := $vm.Embeds }}
func {{ $embed.NameHash }}() []byte {
  r, _ := gzip.NewReader(strings.NewReader("{{ $embed.Data }}"))
  s, _ := ioutil.ReadAll(r)
  return s
}
{{ end -}}
{{ end -}}
{{ end -}}